html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#player-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f0f0f0;
}
